@keyframes animat {
  0% {
    content: " L|";
  }
  1% {
    content: " La|";
  }
  2% {
    content: " Lar|";
  }
  3% {
    content: " Larr|";
  }
  4% {
    content: " Larry|";
  }
  5% {
    content: " Larry |";
  }
  6% {
    content: " Larry D|";
  }
  7% {
    content: " Larry Da|";
  }
  8% {
    content: " Larry Dan|";
  }
  9% {
    content: " Larry Dani|";
  }
  10% {
    content: " Larry Danie|";
  }
  11% {
    content: " Larry Daniel|";
  }
  11% {
    content: " Larry Daniels|";
  }
  12% {
    content: " Larry Daniels|";
  }
  13% {
    content: " Larry Daniel|";
  }
  14% {
    content: " Larry Danie|";
  }
  15% {
    content: " Larry Dani|";
  }
  16% {
    content: " Larry Dan|";
  }
  17% {
    content: " Larry Da|";
  }
  18% {
    content: " Larry D|";
  }
  19% {
    content: " Larry |";
  }
  20% {
    content: " Larry |";
  }
  21% {
    content: " Larry|";
  }
  22% {
    content: " Larr|";
  }
  23% {
    content: " Lar|";
  }
  24% {
    content: " La|";
  }
  25% {
    content: " L|";
  }
  26% {
    content: " |";
  }
  27% {
    content: "D|";
  }
  28% {
    content: "De|";
  }
  29% {
    content: "Dev|";
  }
  30% {
    content: "Deve|";
  }
  32% {
    content: "Devel|";
  }
  33% {
    content: "Develo|";
  }
  34% {
    content: "Develop|";
  }
  35% {
    content: "Develope|";
  }
  36% {
    content: "Developer|";
  }
  37% {
    content: "Developer|";
  }
  38% {
    content: "Develope|";
  }
  39% {
    content: "Develop|";
  }
  40% {
    content: "Develo|";
  }
  41% {
    content: "Devel|";
  }
  42% {
    content: "Deve|";
  }
  43% {
    content: "Dev|";
  }
  44% {
    content: "De|";
  }
  45% {
    content: "D|";
  }
  46% {
    content: "|";
  }
  47% {
    content: "D|";
  }
  48% {
    content: "De|";
  }
  49% {
    content: "Des|";
  }
  50% {
    content: "Desi|";
  }
  51% {
    content: "Desig|";
  }
  52% {
    content: "Design|";
  }
  53% {
    content: "Designe|";
  }
  54% {
    content: "Designer|";
  }
  55% {
    content: "Designer|";
  }
  56% {
    content: "Designer|";
  }
  57% {
    content: "Designer|";
  }
  58% {
    content: "Designer|";
  }

  59% {
    content: "Designe|";
  }
  60% {
    content: "Design|";
  }
  61% {
    content: "Desig|";
  }
  62% {
    content: "Desi|";
  }
  63% {
    content: "Des|";
  }
  64% {
    content: "De|";
  }
  65% {
    content: "D|";
  }
  66% {
    content: "|";
  }
}
